<section class="container-fluid with-maxwidth chapter">

  <md-card class="no-margin-h">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Analytics</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="getAnalytics()">
          <md-icon>refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div class="col-lg-12">
      <h6>Customers that bought all items</h6>
    </div>

    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>
              <span>Name</span>
            </th>
            <th md-column>
              <span>Email</span>
            </th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="customer in customers">
            <td md-cell>{{customer.name}}</td>
            <td md-cell>{{customer.email}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <div class="md-toolbar-tools" ng-hide="customers.length">
      <p>No such customers exist.</p>
    </div>

    <div class="col-lg-12">
      <h6>Average products per purchase per customer</h6>
    </div>

    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>
              <span>Name</span>
            </th>
            <th md-column md-numeric>
              <span>Average Products per Purchase</span>
            </th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="customer in averages">
            <td md-cell>{{customer.name}}</td>
            <td md-cell>{{customer.average}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <div class="md-toolbar-tools" ng-hide="averages.length">
      <p>No purchases exist.</p>
    </div>

    <div class="col-lg-12">
      <h6>Customer with most products per purchase on average</h6>
    </div>

    <div class="col-lg-12">
      <div ng-show="maxAvg">
        <div>
          <strong>Name:</strong>
          {{::maxAvg.name}}
        </div>
        <div>
          <strong>Average Purchase Count:</strong>
          {{::maxAvg.average}}
        </div>
      </div>
      <div ng-hide="maxAvg">
        No purchases exist.
      </div>
    </div>

    <div class="col-lg-12">
      <h6>Other</h6>
    </div>

    <div class="col-lg-12">
      <span ng-show="minPrice">
        <strong>Least expensive product:</strong>
        {{::minPrice.min}}
      </span>
      <span ng-hide="minPrice">
        The selected company has no products.
      </span>
    </div>

    <div class="col-lg-12">
      <span ng-show="maxPrice">
        <strong>Most expensive product:</strong>
        {{::maxPrice.max}}
      </span>
      <span ng-hide="maxPrice">
        The selected company has no products.
      </span>
    </div>

    <div class="col-lg-12" ng-hide="companyId">
      <p>No company selected</p>
    </div>
    <br><br>
  </md-card>

  <md-card class="no-margin-h">
    <div class="box-body">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Company</label>
        <md-select ng-model="companyId" ng-change="getAnalytics()">
          <md-option ng-repeat="company in companies" value="{{company.companyid}}">
            {{company.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-card>

</section>
